@import "variables";

:host {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0 16px;
  display: flex;
  align-items:  stretch;
  flex-direction: column;
}

article {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(255,255,255,0.85);
  flex: 1 1 auto;
  padding: 16px;
  overflow: auto;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 16px;
  }
}
