$font: 'Montserrat', Helvetica, sans-serif; //400,500,700,800,900

$text-small: 400 12px/12px $font;
$text-copy: 400 14px/18px $font;

$heading-big: 800 22px/24px $font;

// colors
$cat_color_1: #fec108;
$cat_color_2: #FF5722;
$cat_color_3: #ea1f62;
$cat_color_4: #3f51b5;
$cat_color_5: #04a9f4;
$cat_color_6: #009688;
$cat_color_7: #9b28b0;

$semitransparent_light: rgba(255,255,255,0.85);
