@import 'variables';

:host {
  display: block;
  background-color: #fff;
  padding: 8px;
}

.date {
  color: #ccc;
  font: $text-small;
  margin-bottom: 8px;
}

.location {
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
