:host{
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  background: url("/assets/images/daniel-tseng-252379-unsplash.jpg") center center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 640px;
  max-width: 440px;
  overflow: hidden;
  padding: 16px;
  width: 100vw;
}

.loading-message {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.itinerary {
  overflow: auto;
}

ta-itinerary-day + ta-itinerary-day{
  margin-top: 16px;
}
