@mixin placeType($name,$color) {
  &.#{$name}{
    background-color: $color;

    &.active {
      color: $color;
      border-color: $color;
    }
  }
}

@import "variables";

:host {
  align-items: center;
  border: 4px solid transparent;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content:center;
  height: 32px;
  width: 32px;

  @include placeType('hotel', $cat_color_1);
  @include placeType('museum', $cat_color_2);
  @include placeType('temple', $cat_color_3);
  @include placeType('restaurant', $cat_color_4);
  @include placeType('shop', $cat_color_5);
  @include placeType('garden', $cat_color_6);
  @include placeType('landmark', $cat_color_7);

  &.big{
    height: 40px;
    width: 40px;
  }

  &.active{
    background-color: #fff;
  }
}

svg {
  height: 16px;
  width: 16px;
}
