<div *ngIf="day | async as day" class="grid">
  <ta-flickr-photo *ngFor="let photo of photos"
                   [size]="'Large Square'"
                   [photo]="photo"
                   (click)="openPhoto(photo)"></ta-flickr-photo>
</div>

<ng-template #photoOverlay>
  <div (swiperight)="previous()"
       (swipeup)="close()"
       (swipeleft)="next()">
    <ta-flickr-photo *ngIf="enlargedPhoto"
                      [size]="'Medium 640'"
                      [photo]="enlargedPhoto"></ta-flickr-photo>
  </div>
  <nav>
    <ul>
      <li>
        <button (click)="previous()" *ngIf="enlargedPhotoIndex>0">&lt;</button>
      </li>
      <li>
        <button (click)="close()">&times;</button>
      </li>
      <li>
        <button (click)="next()" *ngIf="enlargedPhotoIndex < photos.length - 1">️&gt;</button>
      </li>
    </ul>
  </nav>
</ng-template>
