@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900');
@import '@angular/cdk/_overlay';
@import 'styles/variables';
@import 'styles/cdk';

html,
body {
  position: fixed;
  height: 100%;
  background-color: #000;
}

body {
  align-items: center;
  display: flex;
  font: $text-copy;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

article {
  p {
    margin: 0;
  }

  p + p {
    margin-top: 16px;
  }
}

*:focus{
  outline: none;
}
