<div>
  <ta-place-icon *ngFor="let type of types"
                 [class.active]="type===currentFilter"
                 [category]="type"
                 (click)="filter(type)"></ta-place-icon>
</div>
<dl *ngIf="filteredPlaces | async as places">
  <ng-container *ngFor="let place of places">
    <dt (click)="toggleActive(place)" [class.active]="activePlace===place">
      <ta-place-icon [category]="place.type"></ta-place-icon>
      <span>{{place.name}}</span>
    </dt>
    <dd [class]="place.type">
      {{place.location.address}}
      <a [attr.href]="place.location | mapsUrl"
         class="button" target="_blank">Open in Google maps</a>
    </dd>
  </ng-container>
</dl>
